<h3>Department List</h3>



<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="departments">
  <thead>
    <tr>
      <th>Actions</th>
      <th>Name</th>
      <th>Manager</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let department of departments">
      <td>
        <a routerLink="/department/{{department.id}}">
          Edit
        </a>
        <button class="delete" title="delete hero"
                (click)="delete(department)">
          Deactivate
        </button>

      </td>
      <td>{{ department.name }}</td>
      <td>{{ department.manager }}</td>
      <td>{{ department.status }}</td>
    </tr>
  </tbody>
 </table>

