<h3>Employees</h3>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="employees">
  <thead>
    <tr>
      <th>Actions</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Telephone Number</th>
      <th>Email Address</th>
      <th>Manager</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees">
      <td></td>
      <td>{{ employee.firstName }}</td>
      <td>{{ employee.lastName }}</td>
      <td>{{ employee.telNumber }}</td>
      <td>{{ employee.email }}</td> 
      <td>{{ employee.manager }}</td>
      <td>{{ employee.status }}</td>
    </tr>
  </tbody>
</table>

