<h3>Create / Edit Employee</h3>

<div class="form-group">
  <label for="name">*Name</label>
  <input type="text" class="form-control" id="name"
         required
         name="name">
</div>

<div class="form-group">
  <label for="surname">*Surname</label>
  <input type="text" class="form-control" id="surname"
         required
         name="surnname">
</div>

<div class="form-group">
  <label for="telnumber">*Telephone Number</label>
  <input type="text" class="form-control" id="telnumber"
         required
        name="telnumber">
</div>

<div class="form-group">
  <label for="email">*Email Address</label>
  <input type="text" class="form-control" id="email"
         required
        name="email">
</div>

<div class="form-group">
  <label for="manager">*Manager</label>
  <select class="form-control" id="manager"
          required
          name="manager">
    <option *ngFor="let manager of managers" [value]="manager">{{manager}}</option>
  </select>
</div>


<div class="form-group">
  <label for="status">*Status</label>
  <select class="form-control" id="status"
          required
          name="status">
  </select>
</div>
